.vs/
/Console.Sales.Infra.Data/bin/Release/netcoreapp3.1
/Console.Sales.Infra.Data/obj/Release/netcoreapp3.1
/Controle.Sales.API/bin/Release/netcoreapp3.1
/Controle.Sales.API/obj/Release/netcoreapp3.1
/Controle.Sales.API/obj/Controle.Sales.API.csproj.EntityFrameworkCore.targets
/Controle.Sales.API/obj/project.nuget.cache
/Controle.Sales.API/Properties/PublishProfiles
/Controle.Sales.Application/bin/Release/netcoreapp3.1
/Controle.Sales.Application/obj/Release/netcoreapp3.1
/Controle.Sales.Domain/bin/Release/netcoreapp3.1
/Controle.Sales.Domain/obj/Release/netcoreapp3.1
/Controle.Sales.Fronted/.config
/Controle.Sales.Infra.Crosscuting/bin/Release/netcoreapp3.1
/Controle.Sales.Infra.Crosscuting/obj/Release/netcoreapp3.1
/Controle.Sales.Infra.Ioc/bin/Release/netcoreapp3.1
/Controle.Sales.Infra.Ioc/obj/Release/netcoreapp3.1
/Controle.Sales.Tests/obj/Release/netcoreapp3.1
/Controle.Sales.Infra.Crosscuting/obj/project.nuget.cache
/Controle.Sales.Infra.Ioc/obj/project.nuget.cache
/Controle.Sales.Domain/obj/project.nuget.cache
/Controle.Sales.Application/obj/project.nuget.cache
/Controle.Sales.API/.config/dotnet-tools.json
/Console.Sales.Infra.Data/obj/project.nuget.cache
