<h1 id="tableLabel" class="animated fadeIn fast">Sales by Countrys</h1>
<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!sales"><em>Loading...</em></p>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>Region</th>
      <th>Country</th>
      <th>Item Type</th>
      <th>Sales Channel</th>
      <th>Order Date</th>
      <th>Units Sold</th>
      <th>Unit Price</th>
      <th>
        <a class="btn btn-outline-success" routerLink="/order"><i class="fa fa-plus-square"></i> Create New</a>
      </th>
    </tr>
  </thead>
  <tbody class="animated fadeIn">
    <tr *ngFor="let sale of sales">
      <td>{{ sale.region }}</td>
      <td>{{ sale.country }}</td>
      <td>{{ sale.item_Type }}</td>
      <td>{{ sale.sales_Channel }}</td>
      <td>{{ sale.order_Date }}</td>
      <td>{{ sale.units_Sold }}</td>
      <td>{{ sale.unit_Price }}</td>
      <td>
        <a class="btn text-danger" (click)="onOrderDelete(item.OrderID)"><i class="fa fa-trash fa-lg"></i></a>
      </td>
    </tr>
  </tbody>
</table>
